

body {
    color: #000000;
    
    
}

.document {
    margin-left: 2em;
    margin-right: 2em;
}

li {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    text-indent: 0px;
}

li li {
        text-indent: 0px;
    }
li li li {
        text-indent: 0px;
    }
li li li li {
        text-indent: 0px;
    }
li li li li li {
        text-indent: 0px;
    }
li li li li li li {
        text-indent: 0px;
    }
li li li li li li li {
        text-indent: 0px;
    }
li li li li li li li li {
        text-indent: 0px;
    }
li li li li li li li li li {
        text-indent: 0px;
    }


blockquote {
    text-indent: 0px;
}



/* header/footer navigation bar *
 * ---------------------------- */
.navbar {
    background-color: ;
    /*margin: 0em;*/

    width: 100%;
}

.navbar * {
    color: #70705C;
}

.navbar a {
    text-decoration: underline;
    
}

.navbar td {
    padding: 0.2em;
}

.navbar-bottom {
    margin-top: 2em;
}

.footer {
    font-style: italic;
    font-size: small;
}



/* sidebar *
 * ------- */
table.sidebar-table {
    margin: 2em;
    background-color: ;
    float: right;
    border-style: solid;
        border-width: 1px;
    border-color: #000000;

    width: 20%;
}

table.sidebar-table td {
    padding: 1em;
}

.sphinxsidebar h1 {
        font-size: medium;
        font-weight: bold;
    }
.sphinxsidebar h2 {
        font-size: medium;
        font-weight: bold;
    }
.sphinxsidebar h3 {
        font-size: medium;
        font-weight: bold;
    }
.sphinxsidebar h4 {
        font-size: medium;
        font-weight: bold;
    }
.sphinxsidebar h5 {
        font-size: medium;
        font-weight: bold;
    }
.sphinxsidebar h6 {
        font-size: medium;
        font-weight: bold;
    }




/* special index markup *
 * -------------------- */
table.genindextable td {
    padding-top: 1em;
    padding-bottom: 1em;
}



/* links *
 * ----- */
a {
    color: #33658E;
    text-decoration: none;
}

a.headerlink {
    color: transparent;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;

    padding: 0.2em;
}

/* object references */
a code.xref {
    font-weight: bold;
    color: #33658E;
    text-decoration: none;
}

/* footnote references */
a.footnote-reference {
    font-size: small;
}



/* code listings *
 * ------------- */
code, pre {
    
    
}

code {
    background-color: #EFEFE1;
}

code.descname {
    font-weight: bold;
    background-color: transparent;
}

pre {
    margin: 2em;
    
}



/* content tables *
 * -------------- */
table.docutils {
    margin-top: 1em;
}

table.docutils td, table.docutils th {
    padding: 0.3em;
}



/* footnotes and citations *
 * ----------------------- */
table.docutils.footnote, table.docutils.citation {
    margin: 0;
}

table.docutils.footnote td, table.docutils.citation td {
    padding: 0;
}

table.docutils.footnote td.label, table.docutils.citation td.label {
    padding-right: 2em;
}



/* boxes -- admonitions, sidebars, topics *
 * -------------------------------------- */
.admonition, .sidebar, .topic {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.admonition p.last, .sidebar p.last, .topic p.last {
    margin-bottom: 2em;
}

.admonition p.admonition-title, .sidebar p.sidebar-title, .topic p.topic-title {
    font-size: large;
    font-weight: bold;
    background-color: transparent;
}

.sidebar p.sidebar-subtitle {
    font-style: italic;
}


/* generic admonitions */
.admonition p.admonition-title {
    color: #606060;
    text-decoration: underline overline;
}

.admonition p {
    background-color: #EEEEEE;
    color: #000000;
}


/* warnings get special treatment */
.warning p.admonition-title {
    color: #C43838;
}

.warning p {
    background-color: #FFCCCC;
    color: #000000;
}



/* misc markup *
 * ----------- */
.rubric {
    font-weight: bold;
}

.versionmodified {
    font-style: italic;
}

.field-list {
    margin-top: 0;
}

.guilabel, .menuselection {
    background-color: #EFEFE1;
}

.accelerator {
    text-decoration: underline;
}

.caption-text {
    font-weight: bold;
}



/* some extra hover niceties for full browsers *
     * ------------------------------------------- */
    a:hover {
        text-decoration: underline;
    }

    a.headerlink:hover {
        color: #33658E;
        text-decoration: none;
    }

    .navbar a:hover {
        color: #33658E;
    }